/* text-align, color, background-color, height, width, max-width, max-height, 
padding, padding-top, padding-right, padding-bottom, padding-left, 
margin, margin-top, margin-right, margin-bottom, margin-left,
font-family

  border: 2px solid red;
  border-radius: 5px;
*/

.big_txt {
  margin:auto;
  padding-top: 20px;
  padding-left:200px;
  height:40px; 
  width: 400px;
  color: rgb(255, 255, 255); 
  text-align: center;
  font-family:Arial, Helvetica, sans-serif; 
  font-size: 33px;
  font-weight: bolder;
  left:50%;
  top:10px;
}
.norm_txt {
  height:40px; 
  width: 500px;
  color: rgb(255, 255, 255); 
  text-align: left;
  font-family:Arial, Helvetica, sans-serif; 
  font-size: 28px;
  font-weight: bolder;
  margin-top:15px;
  margin-bottom:15px;
}

.input_fields{
  position: absolute;
  left:33%;
}

.body{
    background-color: rgb(34, 52, 52);
    user-select: none;
}
.task_img{
  position: absolute;
  left:10px;
  padding:0px;
  width:40px; 
  height:40px; 
  margin-top:10px;
}
.user_img{
  position: absolute;
 margin-left:10px;
 margin-top:20px;
  padding:0px;
  width:40px; 
  height:40px; 
}
.task_el{
  padding-top: 20px;
  padding-left: 60px; 
  height:40px; 
  width: 160px;
  color: whitesmoke; 
  text-align: left;
  font-family:Arial, Helvetica, sans-serif; 
  font-size: 18px;
  font-weight: bolder;
  background-color:rgb(21, 33, 33);
}
a{
  text-decoration: none;
}
.user_el{
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 60px; 
  height:50px; 
  width: 160px;
  color: whitesmoke; 
  text-align: left;
  font-family:Arial, Helvetica, sans-serif; 
  font-size: 18px;
  font-weight: bolder;
  background-color:rgb(21, 33, 33);
  
}
.user_el_pt{ 
  position: absolute; 
  height:0px;
  top:25px;
  color: whitesmoke; 
  text-align: left;
  font-family:Arial, Helvetica, sans-serif; 
  font-size: 10px;
  font-weight: bolder;
  background-color:rgb(21, 33, 33);

}
.task_bar{
position:absolute; 
left: 0px; 
top: 0px; 
background-color:rgb(21, 33, 33);
width: 220px;
height:100%;

}
.task_el:hover
{
  background-color:rgb(43, 67, 67);
}

.task_el:active
{
  background-color:rgb(63, 97, 97);
}

.center{
  position: absolute;
  margin:auto;
  left:20%;
  top:25%;
  width:60%;
}
.button_left{
  position: absolute;
  width: 200px;
  height: 45px;
  font-family:Arial, Helvetica, sans-serif; 
  font-size: 20px;
  background-color:rgb(21, 33, 33);
  border: 2px solid white;
  border-radius: 5px;
  color: whitesmoke; 
  text-align:center;
  padding-top: 20px;
  font-weight: bolder;
  margin-top:300px;
  margin-bottom:26px;
  left:50%;
  margin-left: -110px;
}
.button_left:hover
{
  background-color:rgb(43, 67, 67);
}
.button_left:active
{
  background-color:rgb(63, 97, 97);
}
.button_right{
  position: absolute;
  width: 200px;
  height: 45px;
  font-family:Arial, Helvetica, sans-serif; 
  font-size: 20px;
  background-color:rgb(21, 33, 33);
  border: 2px solid white;
  border-radius: 5px;
  color: whitesmoke; 
  text-align:center;
  margin-top:300px;
  left:50%;
  margin-left: 110px;
  font-weight: bolder;
  padding-top: 20px;

}
.button_right:hover
{
  background-color:rgb(43, 67, 67);
}
.button_right:active
{
  background-color:rgb(63, 97, 97);
}
.hidden{
  display:none;
}